/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Set a base font size and family */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
}

/* Style for the main container */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */

header.hero-banner {
    background: radial-gradient(circle at 75%, #3c0043, #122057);
    color: #fff;
    padding: 120px 0;
    text-align: center;
}

.hero-banner__container {
    display: flex;
    justify-content: center;
    max-width: 1450px;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: 2;
}

aside.hero-banner__cta {
    background: white;
    width: 200px;
    margin: 30px auto;
    color: #333;
    padding: 10px 0px;
    border-radius: 40px;
}

header h1 {
    font-size: 2em;
}

header .hero-banner__content {
    margin: auto;
    padding: 0px 50px;
    max-width: 650px;

}

header .hero-banner__image {
    margin: 20px 0;
    flex-grow: 1;
}

header .hero-banner__image img {
    max-width: 300px;
    height: auto;
    filter: drop-shadow(0px 7px 6px #00000055);
}

/* Logo cursor styles */
    .cursor {
        display: inline-block;
        width: 2px;
        height: 4em;
        background-color: #ffffff;
        margin-left: 5px;
        animation: blink 1.5s infinite;
        position: relative;
        top: -48px;
        left: -14px;
    }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }

    49% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* Navigation styles */
nav {
    margin: 20px 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    font-weight: bold;
}

/* Main content styles */
main {
    margin: 20px 0;
}

main h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

main p {
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* SVG animation */
.s0 {
    fill: none;
    stroke: url(#g1);
    stroke-miterlimit: 100;
    stroke-width: 5.1;
    animation: draw 25s linear infinite; /* Changed to infinite */
}


@keyframes draw {
    0% {
        stroke-dasharray: 10000, 4800; /* Window size, path length */
        stroke-dashoffset: 17000;    /* Start undrawn, path length */
    }
    100% {
        stroke-dasharray: 10000, 4800;  /* Reset window (optional), path length */
        stroke-dashoffset: 0;       /* Move window to end */
    }
}

.skyline-outline svg {
    width: 100%;
    opacity: 20%;
    position: absolute;
    top: 130px;
    left: 0px;
    z-index: 0;
    filter: drop-shadow(0px 0px 6px white);
}

/* skills section */
section.skills {
    display: flex;
    justify-content: center;
    box-shadow: 0px -20px 100px 0px #00000050, 0px 20px 100px 0px #00000050;
    position: relative;
    z-index: 9;
}

div.markupTransform {
    max-width: 900px;
    margin: auto;
}

aside.skills__navigation {
    flex-grow: 1;
    padding: 40px 30px;
    color: white;
    background: #212121;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article.skills__content {
    flex-grow: 1;
    padding: 40px 30px;
    color: white;
    background: #161616;
    position:relative;
    z-index: 1;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills__navigation li {
    padding: 30px 30px;
    margin: 10px 30px;
    box-shadow: 0px 2px 6px #0000006b;
    border-radius: 7px;
    color: #d7d7d7;
    text-align: center;
    background: linear-gradient(338deg, #161616, transparent);
    cursor: pointer;
}

.skills__navigation h3 {
    margin-bottom: 1.3em;
    text-align: center;
}

.skills__navigation li.active {
    color: #c7aeed;
    box-shadow: 0px 0px 2px white, 0px 0px 10px #9840e9;
    text-shadow: 0px 0px 12px #9840e9;
}

.skill__logos img {
    width: 80px;
}

aside.skill__logos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 30%;
    background: radial-gradient(#292727, #000000);
}

.code-display {
    margin-bottom: 1em;

}

/* Targeting the pseudo-elements for all code-display elements */
.code-display::before,
.code-display::after {
    color: #6400ff; /* Or any color you like for the tags */
}

/* Specific tags for h1 elements */
.h2-target::before {
    content: '\003Ch2\003E'; /* <h1 */
}

.h2-target::after {
    content: '\003C\002Fh2\003E'; /* </h1> */
}

/* Specific tags for p elements */
.p-target::before {
    content: '\003Cp\003E'; /* <p */
}

.p-target::after {
    content: '\003C\002Fp\003E'; /* </p> */
}


/* Form styles */
footer#footer {
    background: radial-gradient(circle at 25%, #3c0043, #122057);
    padding-top: 100px;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 50px auto 120px auto;
}

section.footer__container {
    max-width: 600px;
    padding: 50px 20px 0px 20px;
    margin: auto;
    border-top: 2px solid #ff247e;
}

.footer__content h2 {
    margin-bottom: 1em;
}

.footer__content input {
    padding: 10px;
    margin: 4px;
    border: none;
    border-radius: 5px;
}

.footer__content textarea {
    font-family: sans-serif;
    padding: 10px;
    margin: 5px;
    border: 0;
    border-radius: 5px;
}

.footer__content button {
    background: linear-gradient(45deg, #ff247e, #62118b);
    margin: 10px 5px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 0;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    header .hero-banner__content {
        padding: 0px 20px;
    }

    header .hero-banner__image img {
        max-width: 200px;
    }

    nav ul li {
        margin: 0 10px;
    }

    footer#footer {
        padding-top: 50px;
    }

    form {
        margin: 20px auto 50px auto;
    }

    section.footer__container {
        padding: 20px 10px 0px 10px;
    }

    .footer__content button {
        padding: 10px 15px;
    }

    aside.skills__navigation {
        display: none;
    }
    
    article.skills__content {
        display: flex !important;
    }
    
    aside.skill__logos {
        display: flex !important;
        flex-direction: row;
        background: black;
        padding: 20px;
    }
    
    section.skills {
        flex-direction: column;
    }
    
    header.hero-banner {
        flex-direction: column;
    }
    
    section.hero-banner__container {
        flex-direction: column;
    }
    
}